name: Build and push Deployer

on:
  workflow_dispatch: {}
  push:
    tags:
      - '*'

env:
  FROM_TAG: v1.50.0
  
  REGISTRY: gcr.io/synthesized-marketplace-public
  APP_NAME: synthesized-tdk-cli
  PLATFORM: linux/amd64
  MARKETPLACE_TOOLS_TAG: 0.12.1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  push-tdk:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Authenticate GCloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_KEY }}
 
      - name: Setup GCloud SDK
        uses: google-github-actions/setup-gcloud@v1
 
      - name: Authorize Docker push
        run: gcloud auth configure-docker
 
      - name: Extract metadata
        id: gcr-meta
        uses: docker/metadata-action@ef25336f420be2d1a49205baf41a9b88712a65a1
        with:
          images: ${{ env.REGISTRY }}/${{ env.APP_NAME }}
          flavor: |
            latest=false
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
 
      - name: Push image from Docker Hub to GHCR
        run: |
          echo "$DOCKER_METADATA_OUTPUT_JSON"

          docker pull synthesizedio/synthesized-tdk-cli:${{ env.FROM_TAG }} --platform ${{ env.PLATFORM }}
 
          tags=$(echo "$DOCKER_METADATA_OUTPUT_JSON" | jq -r '.tags | join(" ")')
          IFS=' ' read -ra tags_array <<< "$tags"

          docker_cmd="docker buildx imagetools create"
          for tag in "${tags_array[@]}"; do
            export docker_tag_cmd="docker tag synthesizedio/synthesized-tdk-cli:${{ env.FROM_TAG }} $tag"
            echo "$docker_tag_cmd"
            eval "$docker_tag_cmd"

            export docker_push_cmd="docker push $tag"
            echo "$docker_push_cmd"
            eval "$docker_push_cmd"
          done

#          docker_cmd+=" synthesizedio/synthesized-tdk-cli:${{ env.FROM_TAG }}"
#
#          echo "$docker_cmd"
#          eval "$docker_cmd"

  build-and-push-deployer:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate GCloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_KEY }}

      - name: Setup GCloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Authorize Docker push
        run: gcloud auth configure-docker

      - name: Extract metadata
        id: gcr-meta
        uses: docker/metadata-action@ef25336f420be2d1a49205baf41a9b88712a65a1
        with:
          images: ${{ env.REGISTRY }}/${{ env.APP_NAME }}/deployer
          flavor: |
            latest=false
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825
        with:
          context: .
          build-args: |
            REGISTRY=${{ env.REGISTRY }}
            APP_INSTANCE_NAME=${{ env.APP_NAME }}
            MARKETPLACE_TOOLS_TAG=${{ env.MARKETPLACE_TOOLS_TAG }}
            CHART_NAME=${{ env.APP_NAME }}
            TAG=${{ github.ref_name }}
          push: true
          tags: |
            ${{ steps.gcr-meta.outputs.tags }}


  build-and-push-tester:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate GCloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_KEY }}

      - name: Setup GCloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Authorize Docker push
        run: gcloud auth configure-docker

      - name: Extract metadata
        id: gcr-meta
        uses: docker/metadata-action@ef25336f420be2d1a49205baf41a9b88712a65a1
        with:
          images: ${{ env.REGISTRY }}/${{ env.APP_NAME }}/tester
          flavor: |
            latest=false
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825
        with:
          context: apptest/tester
          push: true
          tags: |
            ${{ steps.gcr-meta.outputs.tags }}
